In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import japanize_matplotlib
import seaborn as sns
import pandas_profiling

pd.set_option("display.max_columns", None)
# pd.set_option("display.max_rows", 200)

In [2]:
DATA_DIR = '../input/'

In [4]:
test = pd.read_csv(DATA_DIR+'test.csv')
print(test.shape)
test.head()

(488, 35)

,id,team,No,name,position,birthdate,height,weight,salary,nth_year,is_youth,nationality,j1_total_num_played,j1_total_scores,j2_total_num_played,j2_total_scores,j3_total_num_played,j3_total_scores,na_total_num_played,na_total_scores,prev3_team,prev2_team,prev1_team,prev3_div,prev2_div,prev1_div,prev3_num_played,prev2_num_played,prev1_num_played,prev3_scores,prev2_scores,prev1_scores,prev3_time_played,prev2_time_played,prev1_time_played
0,0,C大阪,1.0,圍 謙太朗,GK,1991-04-23,190.0,90.0,750,2.0,NaN,NaN,NaN,NaN,NaN,NaN,30.0,NaN,NaN,NaN,FC東京,C大阪,福岡,1,1,2,0,0,26,0,0,0,0,0,2340
1,1,C大阪,2.0,松田 陸,DF,1991-07-24,171.0,69.0,2700,4.0,NaN,NaN,76.0,3.0,42.0,2.0,NaN,NaN,NaN,NaN,C大阪,C大阪,C大阪,2,1,1,42,31,29,2,2,0,3733,2662,2524
2,2,C大阪,3.0,木本 恭生,DF,1993-08-06,183.0,73.0,2000,4.0,NaN,NaN,45.0,2.0,1.0,1.0,23.0,1.0,NaN,NaN,C大阪,C大阪,C大阪,2,1,1,1,23,22,1,2,0,25,1296,1651
3,3,C大阪,4.0,藤本 康太,DF,1986-04-02,177.0,76.0,2400,15.0,NaN,NaN,140.0,7.0,76.0,6.0,3.0,NaN,NaN,NaN,C大阪,C大阪,C大阪,2,1,1,17,3,3,0,0,0,1039,13,178
4,4,C大阪,5.0,藤田 直之,MF,1987-06-22,175.0,72.0,4200,1.0,NaN,NaN,209.0,12.0,55.0,4.0,NaN,NaN,1.0,NaN,神戸,神戸,神戸,1,1,1,32,21,29,0,1,2,2299,1845,2456

In [5]:
df = pd.read_csv(DATA_DIR+'sample_submission.csv')
print(df.shape)
df.head()

(488, 2)

   id  time_played
0   0            0
1   1            0
2   2            0
3   3            0
4   4            0